@model Dictionary<string, List<WeatherForecast>>

<h2>Прогноз погоды для @ViewData["Region"]</h2>
<div>
    Широта: @ViewData["Latitude"], Долгота: @ViewData["Longitude"]
</div>

<link rel="stylesheet" href="~/css/weather.css" />

<div class="forecast-container">
    @foreach (var day in Model)
    {
        <div class="day-forecast">
            <h3>@day.Key</h3>
            <div class="forecast-details-horizontal">
                @foreach (var forecast in day.Value)
                {
                    <div class="forecast-item @forecast.WeatherClass">
                        <p class="time"><strong>@forecast.Time</strong></p>
                        <img src="@($"https://openweathermap.org/img/wn/{forecast.Icon}@2x.png")" alt="Иконка погоды" />
                        <p class="description">@forecast.Description</p>
                        <p class="temperature">@forecast.Temperature°C</p>
                    </div>
                }
            </div>
        </div>
    }
</div>

